<nav-bar></nav-bar>
<!-- Page Content -->
<div class="container">
    <div class="row" ng-init="pc.viewAllProducts()">
		<!-- List of all categories -->
	    <div class="col-md-3">
	    	<br>
	      	<div class="list-group">
	        	<button ng-click="pc.viewAllProducts()" class="nav-card"> VIEW ALL</button>	        
	      	</div>
	      	<div class="list-group" ng-repeat="category in pc.categories">
	        	<button ng-click="pc.viewByCategories(category)" class="nav-card">{{ category | uppercase }}</button>	        
	      	</div>
	      	<div class="row search-box">
	      		<div class="col ">
		      		<input type="text" ng-model="product.search" placeholder=" Search here.." 
		      						style="border: 1px solid black; border-radius: 5px;" class="nav-card col-12">
		      	</div>
	      	</div> <br>
	      	<div class="row filter">
	      		<div class="col-10 mx-auto nav-card" >
	      			<div class="col-10 text-center mx-auto"><strong>Price range :</strong></div>
	      			<br>
	      			<div class="row">
	      				<input type="range" ng-model="pc.minPrice" min="5000" max="100000" name="minPrice" 
			      		class="col-5 mx-auto" style="width: 100%;" step="5000">
			      		<input type="range" ng-model="pc.maxPrice" min="150000" max="600000" name="maxPrice"
			      		class="col-5 mx-auto" style="width: 100%;" step="5000">
	      			</div>
	      			<br>
	      			<div class="row">
	      				<div class="col-6 text-center">{{pc.minPrice | currency : '&#8377;' : 0}}</div>
	      				<div class="col-6 text-center" style="margin-left: -5px;">{{pc.maxPrice | currency : '&#8377;' : 0}}</div>			      		
	      			</div>
	      		</div>
	      	</div>
	      	<div class="row filter">
	      		<div class="col-10 mx-auto">
	      			<div class="row">
		      			<div class="col-5 text-center sort" ng-click="price = 'productPrice'" title="Ascending">ASC&#x21D1;</div>
		      			<div class="col-1"></div>
		      			<div class="col-5 text-center sort" ng-click="price = '-productPrice'" title="Descending">DSC&#x21D3;</div>
		      		</div>	
	      		</div>
	      	</div>
	      	<br>
	      	<!-- <div class="list-group">	      		
	      	</div> -->
	      	<br>
	    </div>
	    <!-- end of List of all categories-->

	    <div class="col-md-9 col-12" >
	      	<div class="row" >
	      		<div class="col-lg-4 col-sm-6 col-10"  
	      						ng-repeat="product in pc.allProducts 	| priceFilter : pc.minPrice : pc.maxPrice
	      													| orderBy : price | filter : product.search" ng-if="pc.showAllProducts">	    
	        		<all-products items="product" add-item-to-cart="pc.addItemToCart(product.productId , product.quantity)">
	        		</all-products>	
	        	</div>
	        	
	        	<div class="col-lg-4 col-sm-6 col-10" 
	        				ng-repeat="product in pc.categoricalProducts | priceFilter : pc.minPrice : pc.maxPrice
	        											| orderBy : price | filter : product.search" ng-if="pc.showByCategory">
	        		<products-by-category items-by-catergory="product" add-item-to-cart="pc.addItemToCart">
	        		</products-by-category>	        		
	        	</div>		
	      	</div>
	    </div>	    	   
	</div>
	  <!-- /.row -->
</div>
<!-- /.container -->